<footer>
    <div id="footer">
        <div id="divFooter">
            <section>
                <h2>Contactenos</h2>
                <p><i class="fa-solid fa-envelope"></i> beerhouse@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> 000-000-0000</p>
            </section>
            <section>
                <div> <button class="red"><a href="https://www.instagram.com "><i
                                class="fa-brands fa-instagram "></i></a></button>
                    <button class="red"><a href="https://www.facebook.com"><i
                                class="fa-brands fa-facebook-f"></i></a></button>
                    <button class="red"><a href="https://www.tiktok.com"><i
                                class="fa-brands fa-tiktok"></i></a></button>
                    <button class="red"><a href="https://www.youtube.com"><i
                                class="fa-brands fa-youtube"></i></a></button>
                </div>
            </section>
        </div>
        <section class="divFooter">
            <h3>Paises</h3>
            <ul>
                <li><a> México</a></li>
                <li><a> Alemania</a></li>
                <li><a> Inglaterra</a></li>
                <li><a> España</a></li>
            </ul>
        </section>
        <section class="divFooter">
            <form action="/" method="post">
                <h3>Escribenos</h3>
                <input id="formEmail" type="email" name="email" placeholder="ejemplo@correo.com">
                <textarea name="comentarios" rows="10" cols="40"
                    placeholder="Escribe aquí tus comentarios"></textarea>
                <div id="botones">
                    <button id="enviarForm" type="submit" value="ENVIAR">ENVIAR</button>
                    <button id="resetForm" type="reset">BORRAR</button>
                </div>
            </form>
        </section>
    </div>

</footer>