<header>
        <div id="header">
            <nav>
                <a href="/">
                    <div id="logo">
                        <img src="/img/logo/logo.png" alt="">
                    </div>
                </a>
                <div id="barraBusqueda">
                    <i class="fa-solid fa-magnifying-glass navButton"></i>
                    <input type="search" placeholder="Busca aquí...">

                </div>
                <div id="navegacion">
                    <div id="barraBusqueda1">
                        <i class="fa-solid fa-magnifying-glass navButton"></i>
                        <input type="search" placeholder="Busca aquí...">

                    </div>
                    <div id="listaNavegacion">
                        <ul>
                            <li><a href="/">Inicio </a></li>
                            <li><a href="/product/ListaProductos">Productos </a></li>
                            <li><a href="/">Servicios </a></li>
                            <li><a href="/">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navButton barras">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                <div class="navButton login">
                    <a href="/user/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="navButton carrito">
                    <a href="/product/carrito-de-compras"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </nav>
        </div>
    </header>