<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/carrito-de-compras.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carro de compras</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="shopping-cart">
            <div class="title">Carrito</div>
            <!-- Product #1 -->
            <div class="item">
              <div class="buttons"></div>
            
                <div class="image">
                    <img src="/img/Cervezas/heineken.png" alt="" style="width :80px;" />
                </div>
                <div class="description">
                    <p><span>Producto 1</span>
                    <span>Lorem Ipsum es simplemente un texto ficticio de la industria de la impresión y la composición tipográfica.</span>
                </div>
                <div class="total-price">$000.00
                    <input type="number" id="quantity" name="quantity" min="1" max="5">
                </div> 
            </div>

            <div class="item">
                <div class="buttons"></div>
              
                  <div class="image">
                      <img src="/img/Cervezas/heineken.png" alt="" style="width :80px;" />
                  </div>
                  <div class="description">
                      <p><span>Producto 2</span>
                      <span>Lorem Ipsum es simplemente un texto ficticio de la industria de la impresión y la composición tipográfica.</span>
                  </div>
                  <div class="total-price">$000.00
                      <input type="number" id="quantity" name="quantity" min="1" max="5">
                </div> 
            </div>
            
                <div class="item">
                    <div class="buttons"></div>
                  
                      <div class="image">
                          <img src="/img/Cervezas/heineken.png" alt="" style="width :80px;" />
                      </div>
                      <div class="description">
                          <p><span>Producto 3</span>
                          <span>Lorem Ipsum es simplemente un texto ficticio de la industria de la impresión y la composición tipográfica.</span>
                      </div>
                      <div class="total-price">$000.00
                          <input type="number" id="quantity" name="quantity" min="1" max="5">
                      </div> 
                    </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>