<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/registro2.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
    <body>
        <%- include('partials/header') %>
        <main>

            <body>
                <form action="/action_page.php">
                    <div class="container">
                        <h2>Agregar nuevo producto:</h2>
                        <input type="text" placeholder="Nombre del producto" name="email" id="email" required><br>
                        <input type="text" placeholder="ID" name="email" id="email" required><br>
                        <input type="text" placeholder="Categoria" name="email" id="email" required><br>
                        <input type="text" placeholder="Descripción" name="email" id="email" required><br>
                        <input type="text" placeholder="Precio" name="email" id="email" required><br>
                        <p><a href="#">Agregar imagen del producto</a></p><br>
                        <hr>
                        <button type="submit" class="registerbtn">Guardar nuevo producto</button>
                    </div>
                </form> 
            </body>
        </main>
    </body>
</html>