<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/detalle-producto.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
</head>

<body>
    <header>
        <div id="header">
            <nav>
                <a href="/">
                    <div id="logo">
                        <img src="/img/logo/logo.png" alt="">
                    </div>
                </a>
                <div id="barraBusqueda">
                    <i class="fa-solid fa-magnifying-glass navButton"></i>
                    <input type="search" placeholder="Busca aquí...">

                </div>
                <div id="navegacion">
                    <div id="barraBusqueda1">
                        <i class="fa-solid fa-magnifying-glass navButton"></i>
                        <input type="search" placeholder="Busca aquí...">

                    </div>
                    <div id="listaNavegacion">
                        <ul>
                            <li><a href="/">Inicio </a></li>
                            <li><a href="/ListaProductos">Productos </a></li>
                            <li><a href="/">Servicios </a></li>
                            <li><a href="">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navButton barras">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                <div class="navButton login">
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="navButton carrito">
                    <a href="/carrito-de-compras"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </nav>
        </div>
    </header>


    <main>
        <!-- detalle del producto -->
        <!-- imagenes  -->
        <!-- <div id="main"> -->
        <section id="imagenes-producto">
            <h4>Productos > Paises Bajos > Heineken</h4>
            <div id="imagenPrincipal">
                <img src="/img/Cervezas/heineken.png" alt="">
            </div>
            <div id="carrusel">

                <div class="divFlechas"><button class="flechas"><i class="fa-solid fa-caret-left"></i></button></div>
                <div id="siguientes-imagenes">
                    <div id="imagenscroll1" class="imagenes-pequeñas">
                        <img src="/img/Cervezas/heineken.png" alt="">
                    </div>
                    <div id="imagenscroll1" class="imagenes-pequeñas">
                        <img src="/img/Cervezas/heineken.png" alt="">
                    </div>
                    <div id="imagenscroll1" class="imagenes-pequeñas">
                        <img src="/img/Cervezas/heineken.png" alt="">
                    </div>
                    <div id="imagenscroll2" class="imagenes-pequeñas">
                        <img src="/img/Cervezas/heineken.png" alt="">
                    </div>
                </div>
                <div class="divFlechasLast"><button class="flechas"><i class="fa-solid fa-caret-right"></i></button>
                </div>
            </div>


        </section>
        <!-- descripcion -->

        <section id="descripcion-producto">
            <h2>Heineken</h2>
            <div class="estrellas" style="color: gold;">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <h4 style="color: rgba(255, 255, 255, 0.8); margin-bottom: 0px;">reviews (1)</h4>
            <p>Heineken Pilsener, conocida simplemente como Heineken,
                es una cerveza con 5,0 % alc. vol., elaborada por
                la cervecería neerlandesa Heineken International.</p>

        </section>


        <!-- compra producto  -->


        <section id="compra-producto">
            <h2>Stock disponible</h2>
            <div id="divColor">

                <form action="/carrito-compra" method="get" id="formCompra">
                    <div style="display: flex; align-items: center;">
                        <h3 style="color: white; display: flex;">Cantidad: </h3>
                        <select name="escoje-color" id="selectorColor">
                            <option value="porDefecto" selected>Cantidad</option>
                            <option value="negro">1</option>
                            <option value="blanco">2</option>
                            <option value="rojo">3</option>
                            <option value="azul">4</option>
                        </select>
                    </div>
                    <h2 style="font-weight:normal; opacity: 0.8;">$200 MXN</h2>
                    <div style="display: flex; align-items: center;">
                        <h3 style="color: white;">Metodo de pago: </h3>
                        <select name="escoje-metodo" id="selectorMetodo">
                            <option value="paypal" selected>PAYPAL</option>
                            <option value="visa">VISA</option>
                            <option value="masterCard">MASTER CARD</option>
                            <option value="americanExpress">AMERICAN EXPRESS</option>
                        </select>
                    </div>
                    <button id="boton-agregar-carrito" type="submit" value="comprar"> Agregar al carrito</button>
                </form>

            </div>
        </section>


        <!-- OPCIONES DE PRODUCTO -->

        <section id="opciones-producto">
            <div class="tab">
                <button class="tablinks" onclick="openTabs(event, 'Descripcion')">Descripcion</button>
                <button class="tablinks" onclick="openTabs(event, 'Caracteristicasdelproducto')">Caracteristicas del
                    producto</button>
                <button class="tablinks" onclick="openTabs(event, 'Comentarios')">Comentarios</button>
            </div>
            <div id="Descripcion" class="tabcontent">
                <p>Descripcion
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum in ex minima doloribus ipsum. Recusandae
                    id perspiciatis aut, nemo alias magnam rem, labore consequatur nisi officia quos doloribus magni
                    quae.</p>
            </div>

            <div id="Caracteristicasdelproducto" class="tabcontent">
                <p>Caracteristicas
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum in ex minima doloribus ipsum. Recusandae
                    id perspiciatis aut, nemo alias magnam rem, labore consequatur nisi officia quos doloribus magni
                    quae.</p>
            </div>

            <div id="Comentarios" class="tabcontent">
                <p>Comentarios
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum in ex minima doloribus ipsum. Recusandae
                    id perspiciatis aut, nemo alias magnam rem, labore consequatur nisi officia quos doloribus magni
                    quae.</p>
            </div>
        </section>


        <!-- Nuestros productos -->

        <section id="pruductosLinea">

            <h2>Nuestros productos</h2>
            <div style="display: flex; width: 80%; margin: auto;">
                <div class="productoDesc">
                    <div class="imgNuProductos">
                        <a href="/detalle-producto">
                            <img src="/img/Cervezas/heineken.png" alt="" href="/">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="productoDesc producto2">
                    <div class="imgNuProductos">
                        <a href="/detalle-producto">
                            <img src="/img/Cervezas/heineken.png" alt="" href="/">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="productoDesc producto3">
                    <div class="imgNuProductos">
                        <a href="/detalle-producto">
                            <img src="/img/Cervezas/heineken.png" alt="" href="/">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- </div>  -->
    </main>
    <footer>
        <div id="footer">
            <div id="divFooter">
                <section>
                    <h2>Contactenos</h2>
                    <p><i class="fa-solid fa-envelope"></i> playerisland@gmail.com</p>
                    <p><i class="fa-solid fa-phone"></i> 000-000-0000</p>
                </section>
                <section>
                    <div> <button class="red"><a href="https://www.instagram.com "><i
                                    class="fa-brands fa-instagram "></i></a></button>
                        <button class="red"><a href="https://www.facebook.com"><i
                                    class="fa-brands fa-facebook-f"></i></a></button>
                        <button class="red"><a href="https://www.tiktok.com"><i
                                    class="fa-brands fa-tiktok"></i></a></button>
                        <button class="red"><a href="https://www.youtube.com"><i
                                    class="fa-brands fa-youtube"></i></a></button>
                    </div>
                </section>
            </div>
            <section class="divFooter">
                <h3>Productos</h3>
                <ul>
                    <li><a> lorem ipsum</a></li>
                    <li><a> lorem ipsum</a></li>
                    <li><a> lorem ipsum</a></li>
                    <li><a> lorem ipsum</a></li>
                </ul>
            </section>
            <section class="divFooter">
                <form action="/" method="post">
                    <h3>Escribenos</h3>
                    <input id="formEmail" type="email" name="email" placeholder="ejemplo@correo.com">
                    <textarea name="comentarios" rows="10" cols="40"
                        placeholder="Escribe aquí tus comentarios"></textarea>
                    <div id="botones">
                        <button id="enviarForm" type="submit" value="ENVIAR">ENVIAR</button>
                        <button id="resetForm" type="reset">BORRAR</button>
                    </div>
                </form>
            </section>
        </div>

    </footer>
</body>

</html>

<script>
    function openTabs(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>