<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ListaProductos.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Island</title>
</head>

<body>
    <!-- Header-->
    <header>
        <div id="header">
            <nav>
                <a href="/">
                    <div id="logo">
                        <img src="/img/logoProvisional.png" alt="">
                    </div>
                </a>
                <div id="barraBusqueda">
                    <i class="fa-solid fa-magnifying-glass navButton"></i>
                    <input type="search" placeholder="Busca aquí...">

                </div>
                <div id="navegacion">
                    <div id="barraBusqueda1">
                        <i class="fa-solid fa-magnifying-glass navButton"></i>
                        <input type="search" placeholder="Busca aquí...">

                    </div>
                    <div id="listaNavegacion">
                        <ul>
                            <li><a href="/">Inicio </a></li>
                            <li><a href="/ListaProductos">Productos </a></li>
                            <li><a href="/">Servicios </a></li>
                            <li><a href="/">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navButton barras">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                <div class="navButton login">
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="navButton carrito">
                    <a href="/carrito-de-compras"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <!-- /* seccion logos de marca */ -->
        <section id="seccionLogosMarca">
            <a class="letras">
              <h2>Escoge la marca</h2>
              <h1>Lorem ipsum dolor</h1>  
            </a>
            <!-- Primero play -->
            <a href="/" class="porLogo">
                <div class="iconMarca">
                    <i class="fa-brands fa-playstation"></i>
                </div>
            </a>
            <!-- Segundo xbox -->

            <a href="/" class="porLogo">
                <div class="iconMarca">
                    <i class="fa-brands fa-xbox"></i>
                </div>
            </a>

            <!-- Tercero nintendo -->

            <a href="/" class="porLogo">
                <div class="iconMarca">
                    <i class="fa-solid fa-gamepad"></i>
                </div>
            </a>
        </section>
        <!--Seccion de productos-->
        <div class="collection-grid">
                    <!-- Menu-->
        <section class="columnaMenu">
            <div class="rowMenu">
                <h4 class="title font-weight-bold small" style="color: white;">Productos > Play Station</h4>
                <hr />
                <h2><b>Filtrado por:</b></h2>
                <hr />
                <div class="filtrado">
                    <h4><b>Modelo</b></h4>
                    <p>Ediciones especiales</p>
                    <p>Consolas Nuevas</p>
                    <p>Controles</p>
                </div>
                <hr />
                <div class="filtrado">
                    <h4><b>Color</b></h4>
                    <input type="radio" id="color1" name="color" value="color1">
                    <label for="color1">Color1</label><br>
                    <input type="radio" id="color2" name="color" value="color2">
                    <label for="color2">Color2</label><br>
                    <input type="radio" id="color3" name="color" value="color3">
                    <label for="color3">Color3</label><br>
                    <input type="radio" id="age1" name="color" value="color4">
                    <label for="color1">Color4</label><br>
                    <input type="radio" id="color2" name="color" value="color5">
                    <label for="color2">Color5</label><br>
                </div>
                <hr />
                <div class="filtrado">
                    <h4><b>Precio</b></h4>
                    <input type="radio" id="color1" name="color" value="30">
                    <label for="color1">Hasta $1,000,000</label><br>
                    <input type="radio" id="color2" name="color" value="60">
                    <label for="color2">$1,000,000-1,500,000</label><br>
                    <input type="radio" id="color3" name="color" value="100">
                    <label for="color3">menos de $1,000,000</label><br>
                </div>
                <hr />
            </div>
        </section>
        <section class="columna">
            <div class="fila">
                <!--Fila 1 Producto 1-->
                <div class="producto1">
                    <div class="imagenProducto">
                        <a href="/detalle-producto">
                            <img width="800"
                                src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Fila 1 Producto 2-->
                <div class="producto2">
                    <div class="imagenProducto">
                        <a href="/detalle-producto">
                            <img src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Fila 1 Producto 3-->
                <div class="producto3">
                    <div class="imagenProducto">
                        <a href="/detalle-producto">
                            <img src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="columna">
            <div class="fila">
                <!--Fila 1 Producto 1-->
                <div class="producto1">
                    <div class="imagenProducto">
                        <a href="/detalle-producto">
                            <img width="800"
                                src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Fila 1 Producto 2-->
                <div class="producto2">
                    <div class="imagenProducto">
                        <a href="/detalle-producto">
                            <img src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Fila 1 Producto 3-->
                <div class="producto3">
                    <div class="imagenProducto">
                        <a href="/detalle-producto">
                            <img src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="columna">
            <div class="fila">
                <!--Fila 1 Producto 1-->
                <div class="producto1">
                    <div class="imagenProducto">
                        <a href="/detalle-producto">
                            <img width="800"
                                src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Fila 1 Producto 2-->
                <div class="producto2">
                    <div class="imagenProducto">
                        <a href="/detalle-producto">
                            <img src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Fila 1 Producto 3-->
                <div class="producto3">
                    <div class="imagenProducto">
                        <a href="/detalle-producto">
                            <img src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-share-nodes"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    </main>
    <footer>
        <div id="footer">
            <div id="divFooter">
                <section>
                    <h2>Contactenos</h2>
                    <p><i class="fa-solid fa-envelope"></i> playerisland@gmail.com</p>
                    <p><i class="fa-solid fa-phone"></i> 000-000-0000</p>
                </section>
                <section>
                    <div> <button class="red"><a href="https://www.instagram.com "><i
                                    class="fa-brands fa-instagram "></i></a></button>
                        <button class="red"><a href="https://www.facebook.com"><i
                                    class="fa-brands fa-facebook-f"></i></a></button>
                        <button class="red"><a href="https://www.tiktok.com"><i
                                    class="fa-brands fa-tiktok"></i></a></button>
                        <button class="red"><a href="https://www.youtube.com"><i
                                    class="fa-brands fa-youtube"></i></a></button>
                    </div>
                </section>
            </div>
            <section class="divFooter">
                <h3>Productos</h3>
                <ul>
                    <li><a> lorem ipsum</a></li>
                    <li><a> lorem ipsum</a></li>
                    <li><a> lorem ipsum</a></li>
                    <li><a> lorem ipsum</a></li>
                </ul>
            </section>
            <section class="divFooter">
                <form action="/" method="post">
                    <h3>Escribenos</h3>
                    <input id="formEmail" type="email" name="email" placeholder="ejemplo@correo.com">
                    <textarea name="comentarios" rows="10" cols="40"
                        placeholder="Escribe aquí tus comentarios"></textarea>
                    <div id="botones">
                        <button id="enviarForm" type="submit" value="ENVIAR">ENVIAR</button>
                        <button id="resetForm" type="reset">BORRAR</button>
                    </div>
                </form>
            </section>
        </div>

    </footer>
</body>

</html>