:root{
    --morado-oscuro: #150722;
    --morado-intermedio: #230B39;
    --morado-claro: #352347;
    --naranja: #FCA311;
    --gris: #D6D6D6;
    --blanco: #FFFFFF;
}


body{
   background: url(/img/Fondo.jpg);
}

main{
   display: flex;
   flex-wrap: wrap;
}

/* seccion logos de marca */
#seccionLogosMarca{
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   width: 80%;
}
#seccionLogosMarca h2{
    width: 100%;
    padding: 12px;
    text-align: center;
    margin: 12px 0px;
    color: var(--blanco);
    padding-left: 50px;
}
#seccionLogosMarca h1{
   width: 100%;
   padding: 12px;
   margin: 12px 0px;
   text-align: center;
   font-size: small;
   color: var(--blanco);
   padding-left: 50px;
}
.porLogo{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding: 12px;
   margin: 12px 0px;
   text-decoration: none;
   color: var(--blanco);
}

.iconMarca{
   width: 50%;
   font-size: 67px;
}
.porLogo h3{
   margin: 0px;
   width: 50%;
}

.porLogo p{
   width: 60%;
   margin: 6px 0px;
   font-size: 12px;
}
.columna{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    /*background-color: var(--morado-oscuro);*/
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 65px 0px;
    /*box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);*/
}
.columna h2{
    color: var(--blanco);
    width: 100%;
    text-align: center;
    /*overflow: hidden;
    cualquier altura mayor que el total de sumar la anchura de las img
    width: 320px;
    para evitar el margen superior de la primera fila
    margin-top: -10px;*/
}
.columna img{
    width: 100%;
    display: block;
}
.columnaMenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    /*background-color: var(--morado-oscuro);*/
    margin-bottom: 100px;
    /*box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);*/
}
.columnaMenu h2{
    color: var(--blanco);
    width: 100%;
    text-align: center;
}
.columnaMenu h4{
    color: white;
    width: 100%;
    text-align: left; 
    font-size: medium;
}
.columnaMenu label{
    color: white;
    width: 100%;
    text-align: left;
    font-size: small;
    padding-left: 10px;
}
.filtrado{
    padding-left: 20px;
}
.filtrado input{
    margin: 5%;
}
.columnaMenu p{
    color: white;
    width: 100%;
    text-align: left;
    font-size: small;
}
.fila{
    margin: auto;
    flex-wrap: wrap;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 60%;
}
.imgNuProductos{
    width: 100%;
}
.producto1{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    text-decoration: none;
    flex-direction: column;
    align-items: left;
    padding: 12px;
    margin: 12px 0px;
    text-decoration: none;
    color: var(--blanco);
}
.producto2{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    text-decoration: none;
    flex-direction: column;
    align-items: left;
    padding: 12px;
    margin: 12px 0px;
    text-decoration: none;
    color: var(--blanco);
}
.producto3{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    text-decoration: none;
    flex-direction: column;
    align-items: left;
    padding: 12px;
    margin: 12px 0px;
    text-decoration: none;
    color: var(--blanco);
}
.descripcion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    background-color: var(--morado-intermedio)
}
.estrellas{
    color: var(--naranja);
    font-size: 12px;
    width: 100%;
}

.descripcion h4{
    color: var(--blanco);
    margin: 5px 0px;
    width: 100%;
}
.descripcion p{
    color: var(--blanco);
    width: 100%;
    margin: 0px;
}
.iconosAbajo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
}
.iconosAbajo i{
    padding-left: 10px;
}
.collection-grid{
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(1,fr);
    gap:40px;
    align-items: center;
}

input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffa500;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

@media (min-width:768px){
   /* seccion logos de marca */
   #seccionLogosMarca{
       justify-content: space-between;
       width: 75%;
   }

   .porLogo{
       width: 10%;
   }

   .columna{
       justify-content: space-between;
       width: 100%;
   }
   .fila{
    width: 75%; 
   }
}

@media (min-width:1279px){

   /* seccion logos de marca */
   #seccionLogosMarca{
       justify-content: space-between;
       width: 70%;
   }
   .columnaMenu{
    overflow:hidden;
    padding-bottom: 100px;
   }
   .columna{
    float: right;
   }
   .porLogo{
       width: 10%;
   }
    .columna{
        width: 100%;
    }
    .fila{
        width: 75%;
    }
    .columnaMenu-producto{
        width: 40%;
        margin-top: 0px; 
    }
    .collection-grid{
        grid-template-columns: repeat(4,1fr);
    }
}
